$footer-bg: #222222;
$footer-color: #666;
.footer {
	display: block;
	background-color: $footer-bg;
	color: $footer-color;
	width: 100%;
	margin-top:0px;
	font-size: 10px;
	a {
		color: $footer-color;
		line-height: 20px;
	}

	h6 {
		font-weight: bold;	
		font-size: 13px;
		color: #fff;
		letter-spacing: 1px;
		margin: 15px 0px 20px 0;
	}
	p {
		color: $footer-color;		
		font-weight: normal;		
		font-size: 10px;	
		margin:0px 0 20px 0;
			
	}
	.small-logo {
		margin:50px 0 30px 0;
		float:right;
	}
	.social {
		padding-top: 15px;
		a {
			font-size: 16px;
			color: #666666; 
		}
		a.fa:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	.list-inline li {width:32%;}
	.list-inline li img {width:100%;}
	
}

#gotop {
	position: fixed;
	bottom: 2px;
	right: 5px;
	height: 45px;
	width: 45px;
	background: url(../img/gotop.png) no-repeat 0 0;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	display: none;
}